<?xml version="1.0"?>
<configuration>
	<configSections>
	    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
	      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
	          <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="MachineToApplication"/>
	        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
	          <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="Everywhere" />
	          <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="MachineToApplication" />
	          <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="MachineToApplication" />
	        </sectionGroup>
	      </sectionGroup>
	    </sectionGroup>
	</configSections>
	<connectionStrings>
		<clear />
		<add name="LocalSqlServer" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|BugNet.mdf;Integrated Security=True;User Instance=True"
			providerName="" />
	</connectionStrings>
	<system.diagnostics>
		<trace autoflush="true">
			<listeners>
				<add name="textWriterTraceListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="C:\log4net.txt"/>
			</listeners>
		</trace>
	</system.diagnostics>
	<appSettings>
		<clear />
		<add key="FCKeditor:BasePath" value="~/UserControls/FCKeditor/" />
		<add key="assembly" value="System.Data" />
		<add key="connection" value="System.Data.SqlClient.SqlConnection" />
		<add key="command" value="System.Data.SqlClient.SqlCommand" />
		<add key="dataadapter" value="System.Data.SqlClient.SqlDataAdapter" />
		<add key="parameter" value="System.Data.SqlClient.SqlParameter" />
		<add key="InstallationDate" value="30/11/2006" />
	</appSettings>
	<system.web>
		<!-- ******** Machine Key ******** -->
		<machineKey validationKey="590FBF83DE4DB1034483D319AAE5C925CB6175D8C4E23FF8AB7E51CF7B713F7E21B0A0CC39CFA126E092655752E36DE68A2B7549D59330164B9531A32004A171"
	       decryptionKey="5EF9212A6C456ABA7526895BB6BF5145743C12D9ACE4927C9691BA869B806DA3"
	       validation="SHA1" decryption="AES" />
		<roleManager enabled="false">
	      <providers>
	        <clear/>
	        <add name="AspNetSqlRoleProvider"
	             connectionStringName="LocalSqlServer"
	             applicationName="BugNET"
	             type="System.Web.Security.SqlRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
	      </providers>
	    </roleManager>
		<membership>
			<providers>
				<clear/>
			    <add name="AspNetSqlMembershipProvider"
	            type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
	            connectionStringName="LocalSqlServer"
	            enablePasswordRetrieval="true"
	            enablePasswordReset="true"
	            requiresQuestionAndAnswer="false"
	            applicationName="BugNET"
	            requiresUniqueEmail="true"
	            passwordFormat="Encrypted"
	            maxInvalidPasswordAttempts="5"
	            minRequiredPasswordLength="7"
	            minRequiredNonalphanumericCharacters="0"
	            passwordAttemptWindow="10"
	            passwordStrengthRegularExpression=""/>
			</providers>
		</membership>
		<profile enabled="true" defaultProvider="AspNetSqlProfileProvider">
			<providers>
				<clear/>
				<add name="AspNetSqlProfileProvider" 
					type="System.Web.Profile.SqlProfileProvider" 
					applicationName="BugNET" 
					connectionStringName="LocalSqlServer"/> 
			</providers>
			<properties>
		        <add name="FirstName" />
		        <add name="LastName" />
		        <add name="DisplayName" />
		        <add name="IM" />
				<add name="MyIssuesItems" defaultValue="5" type="int"/>
				<add name="AssignedToMe" defaultValue="true" type="bool"/>
				<add name="ReportedByMe" defaultValue="true" type="bool"/>
				<add name="MonitoredByMe" defaultValue="true" type="bool"/>
				<add name="InProgressByMe" defaultValue="true" type="bool"/>
				<add name="ClosedByMe" defaultValue="true" type="bool"/>
				<add name="ResolvedByMe" defaultValue="true" type="bool"/>
				<add name="IssueListItems" defaultValue="10" type="int"/>
			</properties>
		</profile>
	    <pages>
			<controls>
				<add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
			</controls>
		</pages>
	    <!--
		          Set compilation debug="true" to insert debugging
		          symbols into the compiled page. Because this
		          affects performance, set this value to true only
		          during development.
		-->
	    <compilation debug="true">
			<assemblies>
		        <add assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
		    </assemblies>
			<buildProviders>
				<add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.Common, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
			</buildProviders>
	    </compilation>
	    <httpHandlers>
	        <remove verb="*" path="*.asmx"/>
			<add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
			<add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
			<add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
			<add verb="*" path="Reserved.ReportViewerWebControl.axd" type = "Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
	    </httpHandlers>
	    <httpModules>
			<add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
		    <!-- BugNET HttpModules -->
			<!-- <add name="AuthenticationModule" type="BugNET.HttpModules.AuthenticationModule, BugNET.HttpModules.Authentication" /> -->
			<!-- <add name="MailBoxReaderModule" type="BugNET.HttpModules.MailboxReaderModule, BugNET.HttpModules.MailBoxReader" /> -->
	    </httpModules>
		<customErrors defaultRedirect="~/Error.aspx"  mode="Off" />
		<!-- 
			*********************************************
			Authentication Settings 
			*********************************************
		-->
	    <authentication mode="Forms">
	      <forms name="BugNET" loginUrl="~/Default.aspx"/>
	    </authentication>
		<!--<authentication mode="Windows" />-->
		<!--
		  <authorization>	
			  <deny users="?" /> 
		  </authorization>
		-->
		<globalization culture="en-US" uiCulture="en" requestEncoding="UTF-8" responseEncoding="UTF-8" fileEncoding="UTF-8" />
		<httpRuntime maxRequestLength="4000" executionTimeout="1000"  />
	</system.web>

	<system.web.extensions>
	    <scripting>
			<webServices>
			<!-- Uncomment this line to customize maxJsonLength and add a custom converter -->
			<!--
			  <jsonSerialization maxJsonLength="500">
				<converters>
				  <add name="ConvertMe" type="Acme.SubAcme.ConvertMeTypeConverter"/>
				</converters>
			  </jsonSerialization>
			-->
	      <!-- Uncomment this line to enable the authentication service. Include requireSSL="true" if appropriate. -->
	      <!--
			<authenticationService enabled="true" requireSSL = "true|false"/>
		      -->

	      <!-- Uncomment these lines to enable the profile service. To allow profile properties to be retrieved
		           and modified in ASP.NET AJAX applications, you need to add each property name to the readAccessProperties and
		           writeAccessProperties attributes. -->
	      <!--
			 <profileService enabled="true"
	                      readAccessProperties="propertyname1,propertyname2"
	                      writeAccessProperties="propertyname1,propertyname2" />
			-->
	      </webServices>
			<!-- 
			<scriptResourceHandler enableCompression="true" enableCaching="true" />
			-->
	    </scripting>
	</system.web.extensions>

	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
	    <modules>
	      <add name="ScriptModule" preCondition="integratedMode" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
	    </modules>
		<handlers>
			<remove name="WebServiceHandlerFactory-Integrated" />
			<add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode"
	           type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
			<add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode"
	           type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
			<add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
		</handlers>
	</system.webServer>
</configuration>
