<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxControlToolkit" version="15.1.4.0" targetFramework="net45" userInstalled="true" />
  <package id="AjaxMin" version="5.14.5506.26202" targetFramework="net45" userInstalled="true" />
  <package id="Antlr" version="3.5.0.2" targetFramework="net45" userInstalled="true" />
  <package id="AspNet.ScriptManager.bootstrap" version="3.3.6" targetFramework="net45" userInstalled="true" />
  <package id="AspNet.ScriptManager.jQuery" version="2.1.4" targetFramework="net45" userInstalled="true" />
  <package id="AspNet.ScriptManager.jQuery.UI.Combined" version="1.11.4" targetFramework="net45" userInstalled="true" />
  <package id="bootstrap" version="3.3.6" targetFramework="net45" userInstalled="true" />
  <package id="DotNetOpenAuth.AspNet" version="4.3.4.13329" targetFramework="net45" userInstalled="true" />
  <package id="DotNetOpenAuth.Core" version="4.3.4.13329" targetFramework="net45" userInstalled="true" />
  <package id="DotNetOpenAuth.GoogleOAuth2" version="1.1.2" targetFramework="net45" userInstalled="true" />
  <package id="DotNetOpenAuth.OAuth.Consumer" version="4.3.4.13329" targetFramework="net45" userInstalled="true" />
  <package id="DotNetOpenAuth.OAuth.Core" version="4.3.4.13329" targetFramework="net45" userInstalled="true" />
  <package id="DotNetOpenAuth.OpenId.Core" version="4.3.4.13329" targetFramework="net45" userInstalled="true" />
  <package id="DotNetOpenAuth.OpenId.RelyingParty" version="4.3.4.13329" targetFramework="net45" userInstalled="true" />
  <package id="EntityFramework" version="6.1.3" targetFramework="net45" userInstalled="true" />
  <package id="FontAwesome" version="4.4.0" targetFramework="net45" userInstalled="true" />
  <package id="HtmlAgilityPack" version="1.4.9" targetFramework="net45" userInstalled="true" />
  <package id="jQuery" version="2.1.4" targetFramework="net45" userInstalled="true" />
  <package id="jQuery.UI.Combined" version="1.11.4" targetFramework="net45" userInstalled="true" />
  <package id="json2" version="1.0.2" userInstalled="true" />
  <package id="log4net" version="2.0.5" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.AspNet.FriendlyUrls" version="1.0.2" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.AspNet.FriendlyUrls.Core" version="1.0.2" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.AspNet.Membership.OpenAuth" version="2.0.1" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.AspNet.Providers" version="2.0.0" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.AspNet.Providers.Core" version="2.0.0" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.AspNet.Providers.LocalDB" version="2.0.0" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.AspNet.ScriptManager.MSAjax" version="5.0.0" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.AspNet.ScriptManager.WebForms" version="5.0.0" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.AspNet.Web.Optimization" version="1.1.3" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.AspNet.Web.Optimization.WebForms" version="1.1.3" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.Azure.KeyVault.Core" version="1.0.0" targetFramework="net45" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.Data.Edm" version="5.7.0" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.Data.OData" version="5.7.0" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.Data.Services.Client" version="5.7.0" targetFramework="net45" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="3.1.0" targetFramework="net45" userInstalled="true" />
  <package id="Modernizr" version="2.8.3" targetFramework="net45" userInstalled="true" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net45" userInstalled="true" />
  <package id="Respond" version="1.4.2" targetFramework="net45" userInstalled="true" />
  <package id="System.Spatial" version="5.7.0" targetFramework="net45" userInstalled="true" />
  <package id="WebGrease" version="1.6.0" targetFramework="net45" userInstalled="true" />
  <package id="WindowsAzure.Storage" version="6.2.0" targetFramework="net45" userInstalled="true" />
</packages>