<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="dotNetOpenAuth" type="DotNetOpenAuth.Configuration.DotNetOpenAuthSection" requirePermission="false" allowLocation="true"/>
        <section name="HtmlEditorProvider" type="BugNET.Providers.HtmlEditorProviders.HtmlEditorConfiguration, BugNET.Providers.HtmlEditorProviders" requirePermission="false" allowDefinition="MachineToApplication"/>
        <section name="DataProvider" type="BugNET.DAL.DataProviderConfiguration, BugNET.DAL" requirePermission="false" allowDefinition="MachineToApplication"/>
    </configSections>
    <dotNetOpenAuth>
        <reporting enabled="false"/>
    </dotNetOpenAuth>
    <DataProvider defaultProvider="SqlDataProvider">
        <providers>
            <add name="SqlDataProvider" type="BugNET.Providers.DataProviders.SqlDataProvider, BugNET.Providers.SqlDataProvider" connectionStringName="BugNET" providerPath="~\Providers\DataProviders\SqlDataProvider\"/>
        </providers>
    </DataProvider>
    <HtmlEditorProvider defaultProvider="CkHtmlEditorProvider">
        <providers>
            <add name="TextboxHtmlEditorProvider" type="BugNET.Providers.HtmlEditorProviders.TextboxHtmlEditorProvider, BugNET.Providers.TextboxHtmlEditorProvider" Height="250" Width="100%"/>
            <add name="CkHtmlEditorProvider" type="BugNET.Providers.HtmlEditorProviders.CkHtmlEditorProvider, BugNET.Providers.CkHtmlEditorProvider" Height="250" Width="100%" Toolbar="Basic" providerPath="~\Scripts\ckeditor\"/>
        </providers>
    </HtmlEditorProvider>
    <connectionStrings>
        <clear/>
        <add name="BugNET" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|Database.mdf;Integrated Security=True;User Instance=True" providerName="" />
    </connectionStrings>
    <appSettings>
        <clear />
    </appSettings>
    <system.web>
        <!-- ******** Machine Key ******** -->
        <machineKey validationKey="590FBF83DE4DB1034483D319AAE5C925CB6175D8C4E23FF8AB7E51CF7B713F7E21B0A0CC39CFA126E092655752E36DE68A2B7549D59330164B9531A32004A171"
	       decryptionKey="5EF9212A6C456ABA7526895BB6BF5145743C12D9ACE4927C9691BA869B806DA3"
	       validation="SHA1" decryption="AES" />
        <membership defaultProvider="ExtendedSqlMembershipProvider">
            <providers>
                <clear/>
                <add name="ExtendedSqlMembershipProvider" type="BugNET.Providers.MembershipProviders.ExtendedSqlMembershipProvider, BugNET.Providers.MembershipProviders.ExtendedSqlMembershipProvider" connectionStringName="BugNET" description="Extended Membership API" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="BugNET" requiresUniqueEmail="false" passwordFormat="Encrypted" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="7" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression=""/>
            </providers>
        </membership>
        <profile enabled="true" automaticSaveEnabled="false" defaultProvider="MyProfileProvider">
            <providers>
                <clear/>
                <add
		          name="MyProfileProvider"
		          type="Altairis.Web.Security.SimpleSqlProfileProvider, Altairis.Web.Security, Version=2.4.3.0, Culture=neutral, PublicKeyToken=9a962e35c1398fb4"
		          connectionStringName="BugNET"
		          tableName="BugNet_UserProfiles"
		          keyColumnName="UserName"
		          lastUpdateColumnName="LastUpdate" />
            </providers>
            <properties>
                <add name="FirstName" type="String" customProviderData="FirstName;nvarchar;100"/>
                <add name="LastName" type="String" customProviderData="LastName;nvarchar;100"/>
                <add name="DisplayName" type="String" customProviderData="DisplayName;nvarchar;150"/>
                <add name="IssuesPageSize" type="Int32" defaultValue="10" customProviderData="IssuesPageSize;int"/>
                <add name="PreferredLocale" type="String" defaultValue="en-US" customProviderData="PreferredLocale;nvarchar;50"/>
                <add name="SelectedIssueColumns" type="String" defaultValue="" customProviderData="SelectedIssueColumns;nvarchar;50" />
                <add name="ReceiveEmailNotifications" type="Boolean" defaultValue="true" customProviderData="ReceiveEmailNotifications;bit" />
            </properties>
        </profile>
        <pages enableSessionState="true" theme="Default" clientIDMode="AutoID">
            <controls>
                <add assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" tagPrefix="ajaxToolkit"/>
                <add tagPrefix="openAuth" assembly="DotNetOpenAuth" namespace="DotNetOpenAuth.OpenId.RelyingParty" />
                <add tagPrefix="bn" tagName="Message" src="~/UserControls/Message.ascx"/>
                <add tagPrefix="bn" tagName="PickProject" src="~/UserControls/PickProject.ascx"/>
                <add tagPrefix="bn" tagName="DisplayIssues" src="~/UserControls/DisplayIssues.ascx"/>
                <add tagPrefix="bn" tagName="HtmlEditor" src="~/UserControls/HtmlEditor.ascx"/>
                <add tagPrefix="bn" tagName="TextImage" src="~/UserControls/TextImage.ascx"/>
                <add tagPrefix="bn" tagName="PickProject" src="~/UserControls/PickProject.ascx"/>
                <add tagPrefix="bn" tagName="PickDate" src="~/UserControls/PickDate.ascx"/>
            </controls>
        </pages>
        <compilation debug="false" targetFramework="4.0" batch="false">
            <assemblies>
                <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
                <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
                <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
            </assemblies>
        </compilation>
        <httpHandlers>
            <add verb="GET" path="DownloadAttachment.axd" type="BugNET.UserInterfaceLayer.DownloadAttachment"/>
        </httpHandlers>
        <httpModules>
            <!-- BugNET HttpModules -->
            <add name="AuthenticationModule" type="BugNET.HttpModules.AuthenticationModule, BugNET.HttpModules.Authentication"/>
            <add name="LocalizationModule" type="BugNET.HttpModules.LocalizationModule, BugNET.HttpModules.Localization"/>
            <!--<add name="MailBoxReaderModule" type="BugNET.HttpModules.MailboxReaderModule, BugNET.HttpModules.MailBoxReader" />-->          
        </httpModules>
        <customErrors defaultRedirect="~/Errors/Error.aspx" mode="On"/>
        <!-- Authentication Settings -->
        <authentication mode="Forms">
            <forms name="BugNET" loginUrl="~/Account/Login.aspx" timeout="2880" />
        </authentication>
        <!--<authentication mode="Windows" />-->
        <!--
		<authorization>	
			<deny users="?" /> 
		</authorization>
	    -->
        <globalization culture="en-US" uiCulture="en" requestEncoding="UTF-8" responseEncoding="UTF-8" fileEncoding="UTF-8"/>
        <httpRuntime maxRequestLength="4000" executionTimeout="1000"/>
    </system.web>
    
    <system.webServer>
        <validation validateIntegratedModeConfiguration="false"/>
        <modules>
            <!-- BugNET HttpModules -->
            <add name="AuthenticationModule" type="BugNET.HttpModules.AuthenticationModule, BugNET.HttpModules.Authentication"/>
            <add name="LocalizationModule" type="BugNET.HttpModules.LocalizationModule, BugNET.HttpModules.Localization"/>
            <!--<add name="MailBoxReaderModule" type="BugNET.HttpModules.MailboxReaderModule, BugNET.HttpModules.MailBoxReader" />-->          
        </modules>
        <handlers>
            <add name="DocumentHandler" path="DownloadAttachment.axd" verb="*" type="BugNET.UserInterfaceLayer.DownloadAttachment" resourceType="Unspecified" preCondition="integratedMode"/>
        </handlers>
    </system.webServer>
</configuration>
