<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="HtmlEditorProvider" type="BugNET.Providers.HtmlEditorProviders.HtmlEditorConfiguration, BugNET.Providers.HtmlEditorProviders" requirePermission="false" allowDefinition="MachineToApplication" />
    <section name="DataProvider" type="BugNET.DAL.DataProviderConfiguration, BugNET.DAL" requirePermission="false" allowDefinition="MachineToApplication" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <clear />
    <add name="BugNET" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=BugNET;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <DataProvider defaultProvider="SqlDataProvider">
    <providers>
      <add name="SqlDataProvider" type="BugNET.Providers.DataProviders.SqlDataProvider, BugNET.Providers.SqlDataProvider" connectionStringName="BugNET" providerPath="~\Providers\DataProviders\SqlDataProvider\" />
    </providers>
  </DataProvider>
  <HtmlEditorProvider defaultProvider="CkHtmlEditorProvider">
    <providers>
      <add name="TextboxHtmlEditorProvider" type="BugNET.Providers.HtmlEditorProviders.TextboxHtmlEditorProvider, BugNET.Providers.TextboxHtmlEditorProvider" Height="250" Width="100%" />
      <add name="CkHtmlEditorProvider" type="BugNET.Providers.HtmlEditorProviders.CkHtmlEditorProvider, BugNET.Providers.CkHtmlEditorProvider" Height="250" Width="100%" Toolbar="Basic" providerPath="~\Scripts\CKEditor\" />
    </providers>
  </HtmlEditorProvider>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="WebForms" />
    <add key="log4net.Config" value="log4net.config" />
  </appSettings>
  <system.web>
    <globalization culture="en-US" uiCulture="en" requestEncoding="UTF-8" responseEncoding="UTF-8" fileEncoding="UTF-8" />
    <compilation debug="true" targetFramework="4.5" batch="false" />
    <httpRuntime targetFramework="4.5" maxRequestLength="4024" executionTimeout="1000" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add tagPrefix="bn" tagName="Message" src="~/UserControls/Message.ascx" />
        <add tagPrefix="bn" tagName="PickProject" src="~/UserControls/PickProject.ascx" />
        <add tagPrefix="bn" tagName="DisplayIssues" src="~/UserControls/DisplayIssues.ascx" />
        <add tagPrefix="bn" tagName="HtmlEditor" src="~/UserControls/HtmlEditor.ascx" />
        <add tagPrefix="bn" tagName="TextImage" src="~/UserControls/TextImage.ascx" />
        <add tagPrefix="bn" tagName="PickDate" src="~/UserControls/PickDate.ascx" />
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
    <httpModules>
      <!-- BugNET HttpModules -->
      <!--<add name="AuthenticationModule" type="BugNET.HttpModules.AuthenticationModule, BugNET.HttpModules.Authentication" />
      <add name="MailBoxReaderModule" type="BugNET.HttpModules.MailboxReaderModule, BugNET.HttpModules.MailBoxReader" />-->
      <add name="LocalizationModule" type="BugNET.HttpModules.LocalizationModule, BugNET.HttpModules.Localization" />
    </httpModules>
    <httpHandlers>
      <add verb="GET" path="DownloadAttachment.axd" type="BugNET.UserInterfaceLayer.DownloadAttachment" />
    </httpHandlers>
    <customErrors defaultRedirect="~/Errors/Error.aspx" mode="Off" />
    <!-- Authentication Settings -->
    <authentication mode="Forms">
      <forms name="BugNET" loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>
    <profile enabled="true" automaticSaveEnabled="false" defaultProvider="MyProfileProvider">
      <providers>
        <clear />
        <add name="MyProfileProvider" type="Altairis.Web.Security.SimpleSqlProfileProvider" connectionStringName="BugNET" tableName="BugNet_UserProfiles" keyColumnName="UserName" lastUpdateColumnName="LastUpdate" />
      </providers>
      <properties>
        <add name="FirstName" type="String" customProviderData="FirstName;nvarchar;100" />
        <add name="LastName" type="String" customProviderData="LastName;nvarchar;100" />
        <add name="DisplayName" type="String" customProviderData="DisplayName;nvarchar;150" />
        <add name="IssuesPageSize" type="Int32" defaultValue="10" customProviderData="IssuesPageSize;int" />
        <add name="PreferredLocale" type="String" defaultValue="en-US" customProviderData="PreferredLocale;nvarchar;50" />
        <add name="SelectedIssueColumns" type="String" defaultValue="" customProviderData="SelectedIssueColumns;nvarchar;50" />
        <add name="ReceiveEmailNotifications" type="Boolean" defaultValue="true" customProviderData="ReceiveEmailNotifications;bit" />
        <add name="PasswordVerificationToken" type="String" defaultValue="" customProviderData="PasswordVerificationToken;nvarchar;128" />
        <add name="PasswordVerificationTokenExpirationDate" type="DateTime" customProviderData="PasswordVerificationTokenExpirationDate;datetime" />
      </properties>
    </profile>
    <membership defaultProvider="ExtendedSqlMembershipProvider">
      <providers>
        <clear />
        <add name="ExtendedSqlMembershipProvider" type="BugNET.Providers.MembershipProviders.ExtendedSqlMembershipProvider, BugNET.Providers.MembershipProviders.ExtendedSqlMembershipProvider" connectionStringName="BugNET" description="Extended Membership API" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" applicationName="BugNET" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="7" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" />
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="BugNET" applicationName="BugNET" />
      </providers>
    </roleManager>
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="BugNET" />
      </providers>
    </sessionState>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="SpecifiedPickupDirectory">
        <specifiedPickupDirectory pickupDirectoryLocation="C:\Temp\Email" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <!-- BugNET HttpModules -->
      <!--<add name="AuthenticationModule" type="BugNET.HttpModules.AuthenticationModule, BugNET.HttpModules.Authentication" />
      <add name="MailBoxReaderModule" type="BugNET.HttpModules.MailboxReaderModule, BugNET.HttpModules.MailBoxReader" />-->
      <add name="LocalizationModule" type="BugNET.HttpModules.LocalizationModule, BugNET.HttpModules.Localization" />
    </modules>
    <handlers>
      <add name="DocumentHandler" path="DownloadAttachment.axd" verb="*" type="BugNET.UserInterfaceLayer.DownloadAttachment" resourceType="Unspecified" preCondition="integratedMode" />
    </handlers>
    <staticContent>
      <remove fileExtension=".svg" />
      <remove fileExtension=".woff" />
      <remove fileExtension=".eot" />
      <remove fileExtension=".otf" />
      <mimeMap fileExtension=".svg" mimeType="images/svg+xml" />
      <mimeMap fileExtension=".woff" mimeType="font/x-woff" />
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
      <mimeMap fileExtension=".otf" mimeType="font/otf" />
    </staticContent>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AjaxMin" publicKeyToken="21ef50ce11b5d80f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.14.5506.26196" newVersion="5.14.5506.26196" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>