<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="DataProvider" type="BugNET.DataAccessLayer.DataProviderConfiguration, BugNET" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <DataProvider defaultProvider="SqlDataProvider">
  <providers>
    <add name="SqlDataProvider" type="BugNET.DataAccessLayer.SqlDataProvider, BugNET" connectionStringName="LocalSqlServer" providerPath="~\Providers\DataProviders\SqlDataProvider\" />
  </providers>
  </DataProvider>
  <connectionStrings>
    <clear/>
    <add name="LocalSqlServer" connectionString="Data Source=.\SQL2008;Database=BugNETDev;Integrated Security=True;" />
  </connectionStrings>
</configuration>