<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
	<section name="DataProvider" type="BugNET.DAL.DataProviderConfiguration, BugNET.DAL" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <DataProvider defaultProvider="SqlDataProvider">
    <providers>
      <add name="SqlDataProvider" type="BugNET.Providers.DataProviders.SqlDataProvider, BugNET.Providers.SqlDataProvider" connectionStringName="BugNET" providerPath="~\Providers\DataProviders\SqlDataProvider\" />
    </providers>
  </DataProvider>
  <connectionStrings>
    <clear/>
    <add name="BugNET" connectionString="Data Source=.\SQLEXPRESS;Database=BugNET;Integrated Security=True;" />
  </connectionStrings>
</configuration>