/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 60px;
    padding-bottom: 20px;
}

.navbar {
    border-radius: 0;
    margin-bottom:0;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
/*input[type="text"],
input[type="password"] {
    max-width: 280px;
}*/

/*input[type="text"].title{
    width: 100%;
}*/

.masthead{
    height:55px;
}
.navbar-brand
{
    padding: 7px 10px 10px 5px;
}
.navbar-brand img{
    margin-right:5px;
}

/* Summary Page Styles */
table.summary
{
	border-collapse: collapse;
	border-spacing: 3px;
	width: 100%;
	margin-bottom: 10px;
}

td.count-column
{
	width: 15px;
	text-align: right;
	padding: 3px;
	white-space: nowrap;
}
td.item-column
{
	padding: 3px;
	text-align: left;
	width: 90%;
}
td.image-column
{
	padding: 3px;
	width: 15px;
}

.tree td div
{
	height: 20px !important;
}
.node {
    margin-left:10px;
}

.milestone-group-header
{
	text-align: left;
	padding:5px;
	cursor: pointer;
    padding-left:40px;
	margin: 10px 0 0 10px;
	background: url(../../images/package.gif) no-repeat 10px 7px;
    min-height:50px;
}

.milestone-list li:hover
{
	background-color: #eee;
}

.milestone-list li.active
{
	background-color: #f7f7f9;
	border-top: 1px solid #e1e1e8;
}

.milestone-release-date
{
	min-width: 15%;
	float: left;
	padding-right: 5px;
	font-style: italic;
	font-weight: normal;
}

.milestone-content{
    background:white;
}

/* Project Calendar Styles */
.calendar-day{
    height: 120px;
    text-align:left;
    vertical-align:top;
}
.calendar-day-header{
  /*background-color:#F2F3E5;*/
 
}
.calIssuePastDue a
{
	font-family: Arial, Verdana;
	font-size: 0.8em;
	color: #fff;
}
.calIssuePastDue
{
	margin: 3px;
	background-color: #FF7777;
	border-radius: 0.25em 0.25em;
	-moz-border-radius: 0.25em 0.25em;
	color: #fff;
	padding: 3px;
}
.calIssue
{
	border-radius: 0.25em 0.25em;
	-moz-border-radius: 0.25em 0.25em;
	background-color: #8888BB;
	margin: 3px;
	color: #fff;
	padding: 3px;
}
.calIssue a
{
	font-family: Arial, Verdana;
	font-size: 0.85em; /*   color:#555557;*/
	color: #fff;
}
.calIssuePrivate
{
	background-image: url(../../images/lock.gif);
	background-repeat: no-repeat;
	background-position: 3px 3px;
	padding: 3px 0 0 23px;
}

span.radio {
    padding:0;
}

span.radio > input[type="radio"] {
    margin: 6px -5px 7px 15px;
}

span.radio > label {
    float: left;
    margin-right: 5px;
    padding: 0px 5px 0px 10px;
}

.checkbox-list tr td input[type="checkbox"]
{
    margin: 6px -5px 7px 15px;
}

.checkbox-list tr td label {
    font-weight:normal;
    margin-right: 5px;
    padding: 0px 5px 0px 10px;
}

ul.permissions
{
	list-style: none;
	float: left;
}
    ul.permissions li
    {
	    display: inline;
	    float: left;
	    width: 200px;
    }

        ul.permissions > li > input[type="checkbox"] {
             margin: 6px 10px 7px 0px;
        }

/*.navbar-admin{
    background-color:#5bc0de;
    
}
    .navbar-admin > a {
        color:white;
    }*/

.btn-signup{
    border-radius:0;
    font-weight: bold;
    text-align:left;
    margin: 0 0 10px;
    padding-left:0px;
    width: 250px;
    border:0;
    box-shadow: none;
    text-shadow: none;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
}
    .btn-signup i {
        height: 24px;
        width: 45px;
        display: inline-block;
        vertical-align: text-top;
        margin-right: 10px;
        border-right: 1px solid rgba(0,0,0,0.1);
        padding-right: 35px;
        box-shadow: 1px 0 0 rgba(255,255,255,0.2);
    }
    .btn-signup span{
        padding-top:5px;
        display:inline-block;
        vertical-align:middle;
    }


#twitter-button i{
    background: url('../images/icon_twitter.png') center center no-repeat;
}
#facebook-button i{
    background: url('../images/icon_facebook.png') center center no-repeat;
}
#google-button i{
    background: url('../images/google_btn_red.png') center center no-repeat;
}
#microsoft-button i{
    background: url('../images/icon_microsoft.png') center center no-repeat;
}

#twitter-button
{
    background: #0ba8d6;
    color: #fff;
}
#facebook-button
{
    background: #415d9c;
    color: #fff; 
}
#google-button
{
    background:#d14836;
    color: #fff;  
}
#microsoft-button
{
    background-color: #2672ec;
    color:#fff;
}

.sub-header {
    background: #FFF url("http://playboard.me/img/subheader-bg.png") repeat-x left bottom;
    padding: 0;
    height: 42px;
    font-size: 13px;
}
    .sub-header ul {
        margin: 0;
        padding: 0;
        float: left;
        /*border-left: 1px solid #ddd;*/
        height: 40px;
    }
        .sub-header ul li {
            display: inline;
            list-style: none;
            line-height: 42px;
            margin-right: 20px;
            padding: 0;
            margin: 0;
        }

        .sub-header ul li a {
            color: #565759;
            display: inline-block;
            padding: 0 15px;
            border-right: 1px solid #ddd;
            height: 40px;
        }

.sub-header span.follow-pb {
    display: block;
    float: right;
    width: 190px;
    line-height: 42px;
    color: #919398;
    height: 42px;
    background: transparent url("/img/subheader-icons.png") no-repeat right center;
    cursor: pointer;
}

/*Search Box*/
.navbar .nav > li > .search {
	color: #aaa;
	cursor: pointer;
	min-width: 35px;
	font-size: 15px;
	text-align: center;
	background: #f7f7f7;
	padding: 18px 0 15px;
	display: inline-block;
	border-bottom: solid 2px #aaa;
}

.navbar .nav > li > .search:hover {
	color: #72c02c;
	background: #f7f7f7;
	border-bottom-color: #72c02c;
}

.navbar .search-open {
	right: 0; 
	top: 51px; 
	display: none;
	padding: 14px; 
	position: absolute;
	background: #fcfcfc; 
	border-top: solid 2px #eee;
	box-shadow: 0 1px 3px #ddd; 
}

.navbar .search-open form {
	margin: 0;	
}

@media (min-width: 767px) {
	.navbar .search-open {
		width: 330px;
	}
}

@media (max-width: 767px) {
	.navbar .nav > li > .search {
		color: #999;
		width: 35px;
		height: 34px;
		line-height: 12px;
		text-align: left;
		text-align: center;
		margin: 5px 10px 0 15px;
        padding: 13px 0 15px;
		background: #eee;
		border-bottom: none;
	}

	.navbar .nav > li > .search:hover {
		background: #5fb611;
		color: #fff !important;
	}

	.navbar .search-open {
		top: 5px;
		padding: 0;
		left: 53px;
		border-top: none;
		box-shadow: none;
		background: none; 
		margin-right: 10px;
	}
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }
    .body-content {
        padding: 0;
    }
}


