<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="DataProvider" type="BugNET.DAL.DataProviderConfiguration, BugNET.DAL" requirePermission="false" allowDefinition="MachineToApplication"/>
    </configSections>
    <DataProvider defaultProvider="SqlDataProvider">
        <providers>
            <add name="SqlDataProvider" type="BugNET.Providers.DataProviders.SqlDataProvider, BugNET.Providers.SqlDataProvider" connectionStringName="BugNET" providerPath="~\Providers\DataProviders\SqlDataProvider\"/>
        </providers>
    </DataProvider>
    <connectionStrings>
        <add name="BugNET" connectionString="Data Source=.\SQL2008;Database=BugNETProd;Integrated Security=True;" providerName=""/>
    </connectionStrings>
</configuration>