<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="DataProvider" type="BugNET.DataAccessLayer.DataProviderConfiguration, BugNET" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <DataProvider defaultProvider="SqlDataProvider">
  <providers>
    <add name="SqlDataProvider" type="BugNET.DataAccessLayer.SqlDataProvider, BugNET" connectionStringName="BugNET" providerPath="~\Providers\DataProviders\SqlDataProvider\" />
  </providers>
  </DataProvider>
  <connectionStrings>
    <clear/>
    <add name="BugNET" connectionString="Data Source=.\SQLEXPRESS;Database=BugNetDev;Integrated Security=True;" providerName="" />
  </connectionStrings>
    <log4net>
        <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
            <bufferSize value="1" />
            <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
            <connectionString value="Data Source=.\SQLEXPRESS;Database=BugNetDev;Integrated Security=True;" />
            <commandText value="INSERT INTO BugNet_ApplicationLog ([Date],[Thread],[Level],[Logger],[User],[Message],[Exception]) VALUES (@log_date, @thread, @log_level, @logger,@user, @message, @exception)" />
            <parameter>
                <parameterName value="@log_date" />
                <dbType value="DateTime" />
                <layout type="log4net.Layout.RawTimeStampLayout" />
            </parameter>
            <parameter>
                <parameterName value="@thread" />
                <dbType value="String" />
                <size value="255" />
                <layout type="log4net.Layout.PatternLayout">
                    <conversionPattern value="%thread" />
                </layout>
            </parameter>
            <parameter>
                <parameterName value="@log_level" />
                <dbType value="String" />
                <size value="50" />
                <layout type="log4net.Layout.PatternLayout">
                    <conversionPattern value="%level" />
                </layout>
            </parameter>
            <parameter>
                <parameterName value="@logger" />
                <dbType value="String" />
                <size value="255" />
                <layout type="log4net.Layout.PatternLayout">
                    <conversionPattern value="%logger" />
                </layout>
            </parameter>
            <parameter>
                <parameterName value="@user" />
                <dbType value="String" />
                <size value="50" />
                <layout type="log4net.Layout.PatternLayout">
                    <conversionPattern value="%X{user}" />
                </layout>
            </parameter>
            <parameter>
                <parameterName value="@message" />
                <dbType value="String" />
                <size value="4000" />
                <layout type="log4net.Layout.PatternLayout">
                    <conversionPattern value="%message" />
                </layout>
            </parameter>
            <parameter>
                <parameterName value="@exception" />
                <dbType value="String" />
                <size value="2000" />
                <layout type="log4net.Layout.ExceptionLayout" />
            </parameter>
        </appender>
        <appender name="FileAppender" type="log4net.Appender.FileAppender">
            <file value="log-file.txt" />
            <appendToFile value="true" />
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
            </layout>
        </appender>
        <!--
  <appender name="SmtpAppender" type="log4net.Appender.SmtpAppender">
    <to value="test@test.com" />
    <from value="test@test.com" />
    <subject value="test logging message" />
    <smtpHost value="localhost" />
    <bufferSize value="0" />
    <lossy value="true" />
    <evaluator type="log4net.Core.LevelEvaluator">
      <threshold value="ERROR"/>
    </evaluator>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%newline%date [%thread] %-5level %logger [%property{NDC}] - %message%newline%newline%newline" />
    </layout>
  </appender>
 <logger name="BugNET.DataAccessLayer.GenericDataAccessLayer" additivity="true">
    <level value="DEBUG"/>
    <appender-ref ref="FileAppender" />
  </logger>
  -->
        <root>
            <level value="WARN" />
            <appender-ref ref="AdoNetAppender" />
            <!-- 
      <appender-ref ref="SmtpAppender" />
    -->
        </root>
    </log4net>
</configuration>