<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section 
      name="DataProvider" 
      type="BugNET.DAL.DataProviderConfiguration, BugNET.DAL" 
      requirePermission="false" 
      allowDefinition="MachineToApplication" />
  </configSections>

  <connectionStrings>
    <clear />
    <add
      name="BugNET"
      connectionString="Data Source=.\SQL2008;Database=BugNET;Integrated Security=True;"
      providerName="" />
  </connectionStrings>

  <appSettings>
    <clear />
    <add key="InstallationDate" value="4/28/2007" />
  </appSettings>

  <DataProvider defaultProvider="SqlDataProvider">
    <providers>
      <add
      name="SqlDataProvider"
      type="BugNET.Providers.DataProviders.SqlDataProvider, BugNET.Providers.SqlDataProvider"
      connectionStringName="BugNET"
      providerPath="~\Providers\DataProviders\SqlDataProvider\" />
    </providers>
  </DataProvider>

  <system.web>
    <globalization culture="en-US" uiCulture="en-US" requestEncoding="UTF-8" responseEncoding="UTF-8" fileEncoding="UTF-8" />
  </system.web>
</configuration>